@import "../../../Common/Styles/variables";

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: -webkit-fill-available;

    .box {
        width: 35%;
        margin: auto;
        padding: 25px;
        border-radius: 4px;
        box-shadow: 1px 0px 7px $softWhite;
        background: rgba(0, 0, 0, 0.54);
    }
    .form {
        width: 100%;
        margin: 10px;
    }
    .button{
        width: 75px;
    }
}

body{
    background: url('../../../Common/Images/backgroundLogin.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}